<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.EmployeeMapper">
	<select id="searchEmployee" parameterType="map" resultType="employee">
		select eno, name, department, position_no as position from employee
		<choose>
			<when test="kind.equals('department')">
				where department like '%' || #{search} || '%'
			</when>
			<when test="kind.equals('name')">
				where name like '%' || #{search} || '%'
			</when>
			<otherwise>
				where position = #{search}
			</otherwise>
		</choose>
	</select>
	
	<select id="selectAllEmployee" resultType="employee">
		select eno, name, department, position_no as position from employee
	</select>
</mapper>